<h1> Social Network Demo Homepage </h1>


<div class="signInUp">
	<div class="signIn">
	<%=# render 'devise/sessions/new'%>
	</div>
	<div class="signUp">
	<%=# render 'devise/registrations/new %>		
	</div>
</div>
