<p id="notice"><%= notice %></p>

<% @list_of_names = Array.new %>
<% User.all.each do |user| %>
   <% @course.course_users.each do |course_user| %>
   <% if user.id == course_user.user_id %>
   <% @list_of_names.push(user.name) %>
   <% end %>
   <% end %>
<% end %>


<div class="classroom">
   <h1> Class Roster </h1>
   <% @list_of_names.each do |n|%>
                   <div class="desk">
                        <p><%= n %> </p>
                   </div>
   <% end%>
</div>


