/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, p, text, a{
	font-family: "Verdana", Arial, sans-serif;
	text-decoration: none;
}

td {
	padding-left: 30px;
}

#user_nav{
        width: 100%;
        height: 50px;
        background-color: #2B2B2B;
        color: #E0E0E0;
	margin: -15px -10px;
	padding: 10px;
	position: relative;
	top: 0;
}

#user_nav p{
	top: 10%;
	width: auto;
	position: absolute;
	right: 5%;
	display: inline;
	vertical-align: text-bottom;
}

#user_nav h1{
	top: 10%;
	width: auto;
        position: absolute;
        left: 5%;
        display: inline;
	vertical-align: text-bottom;
	font-size: 32px;
}

.my-images {
        max-width: 80%;
        margin: 20px auto;
}

.my-images h2{
        padding: 30px 10px 10px 10px;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #2B2B2B;
}

#upload-link {
	margin: 0;
	padding: 10px 0 10px 5px;
	border: none;
	text-align: right;
}

.friends-private {
        max-width: 80%;
        margin: 20px auto;
}

.friends-private h2{
        padding: 30px 10px 10px 10px;
        width: 100%;
        border-width: 0 0 1px 0;
        border-style: solid; 
        border-color: #2B2B2B;
}

.public {
	max-width: 80%;
	margin: 20px auto;
} 

.public h2{
        padding: 30px 10px 10px 10px;
        width: 100%;
        border-width: 0 0 1px 0;
        border-style: solid; 
        border-color: #2B2B2B;
} 

.image-thumb {
	display: inline-block;
	padding: 10px;
	margin: 10px 5px;
	border: 1px solid #2B2B2B;
	border-radius: 5px;
	color: #6EAC65;
	background-color: #2B2B2B;
	
}


.image-thumb a{

	color: #E0E0E0;
}

.image-thumb a:hover { 
	color: #FBEB4D;

}

.view-image {
	width: 300px;
        padding: 10px;
        margin: 20px 35%;
        border: 1px solid #2B2B2B;
        border-radius: 5px;
        color: #6EAC65;
        background-color: #2B2B2B;
	position: relative;
}

.view-image a{

        color: #E0E0E0;
}

.view-image a:hover {
        color: #FBEB4D;

}

.view-image span{
	color: #E0E0E0;
	text-align: left;
}

.update-image, .add-tag{
	margin-left: 30px;
}


div.field-indented{
	position: relative;
	left: 57px;
}

span.field-indented{
	position: relative;
	left: 8px;
}


.back-link {
        margin: 0;
        padding: 10px 0;
        border: none;
	position: fixed;
	bottom: 0;
	left: 5%;
}

.cred-input{
	border: 1px solid #2B2B2B;
        border-radius: 5px;
	padding: 10px;
	margin: 30px auto;
	position: relative;
	width: 180px;
}

.cred-input .field{
	position: relative;
}

.cred-input .actions{
        position: relative;
}

.cred-input h2{
        position: relative;
	width: 180px;
}

.cred-input div{
	position:relative;
}

