/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, p, text, a{
	font-family: "Verdana", Arial, sans-serif;
	text-decoration: none;
}

.my-images {
        max-width: 80%;
        margin: 20px auto;
}

.my-images h2{
        padding: 30px 10px 10px 10px;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #2B2B2B;
}

#upload-link {
	margin: 0;
	padding: 10px 0 10px 0;
	border: none;
}

.friends-private {
        max-width: 80%;
        margin: 20px auto;
}

.friends-private h2{
        padding: 30px 10px 10px 10px;
        width: 100%;
        border-width: 0 0 1px 0;
        border-style: solid; 
        border-color: #2B2B2B;
}


.public {
	max-width: 80%;
	margin: 20px auto;
} 

.public h2{
        padding: 30px 10px 10px 10px;
        width: 100%;
        border-width: 0 0 1px 0;
        border-style: solid; 
        border-color: #2B2B2B;
} 

.image-thumb {
	display: inline-block;
	padding: 10px;
	margin: 10px 5px;
	border: 1px solid #2B2B2B;
	border-radius: 5px;
	color: #6EAC65;
	background-color: #2B2B2B;
	
}

.image-thumb a{

	color: #E0E0E0;
}

.image-thumb a:hover { 
	color: #FBEB4D;

}
